#### Reading in our movie data

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from IPython.display import display
import ipywidgets as widgets
import pandas as pd
import numpy as np
import re

#### Data can be found on this link https://files.grouplens.org/dataset/movielens/ml-25m.zip

In [2]:
movies = pd.read_csv("data/movies.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

#### The function "clean_title" below will clean movie titles using regex. It will search through each title and remove any characters that are not a space, digit, or letter (lowercase or uppercase).

In [3]:
def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]", "", title)

#### A new column called 'Clean-title' will be created in the data frame to store the cleaned up titles.

In [4]:
movies["Clean-title"] = movies["title"].apply(clean_title)
movies.head()

,movieId,title,genres,Clean-title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995

#### Creating a TFIDF (Term Frequency Inverse Document Frequency) Matrix. Taking the log of the values. Word "the" is common.

#### The parameter "ngram_range" is not just looking for individual words in the title, it also looks for consecutive pairs of words, making the search more accurate.

In [5]:
vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(movies["Clean-title"])

#### Creating the search function. We will compute the similarity between the term entered and all of the movies in our list using cosine similarity.

In [6]:
def search(title):
    
    # Put the input title in "title" variable
    title = clean_title(title)
    
    # Create TFIDF for the input word
    query_vec = vectorizer.transform([title])
    
    # Get the list of similarityes between the whole list and the query_vec
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    
    # Get only those indeces that are relevan, the best ones. In sorted order
    indices = np.argpartition(similarity, -5)[-5:]
    
    # Put them into "results" and revert the order
    results = movies.iloc[indices][::-1]
    return results

In [7]:
search("Rocky")

,movieId,title,genres,Clean-title
1865,1954,Rocky (1976),Drama,Rocky 1976
2321,2412,Rocky V (1990),Action|Drama,Rocky V 1990
2318,2409,Rocky II (1979),Action|Drama,Rocky II 1979
2319,2410,Rocky III (1982),Action|Drama,Rocky III 1982
26168,125327,Rocky Mountain (1950),Action|Adventure|Western,Rocky Mountain 1950

In [8]:
search("The Girl on the Train")

,movieId,title,genres,Clean-title
41858,162602,The Girl on the Train (2016),Thriller,The Girl on the Train 2016
22356,114561,"Girl on the Train, The (2013)",Thriller,Girl on the Train The 2013
35825,148771,The Girl on the Stone (2007),Drama,The Girl on the Stone 2007
55015,190919,The Girl on the Broomstick (1972),Children|Comedy,The Girl on the Broomstick 1972
15121,79972,"Girl on the Train, The (La fille du RER) (2009)",Drama,Girl on the Train The La fille du RER 2009

#### Building an interactive search box with jupyter

#### Input widget

In [9]:
movie_input = widgets.Text(
    value = "Toy Story",
    description = "Movie Title:",
    disabled = False
)

#### Output widget

In [10]:
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names = 'value')

display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

#### Reading in movie ratings data set, and find movies that are similar to our movie that we liked.

In [11]:
ratings = pd.read_csv("data/ratings.csv")
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [12]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

#### Find all the users who also liked the movie we typed in and we want to find the other movies they liked, because those are probably going to be good recommendations. Shorted, people who liked the same movie as us what else did they like.

In [13]:
# Let's say this is the movieId that we typed in.

movie_id = 1

# We need to finding anyone who watched our movie
# And find anyone who liked it
# Let the threshold value be 4.5 rating out of 5

similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4.5)]["userId"].unique()
similar_users

array([    36,     75,     86, ..., 162518, 162519, 162530], dtype=int64)

In [14]:
# First we going to find anyone who is similar to us and they watch the same movie and like it
# Than we want to find any movies they rated  greater than 4.5

similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4.5)]["movieId"]
similar_user_recs

5101           1
5105          34
5111         110
5114         150
5127         260
            ...
24998388    3706
24998389    3735
24998391    3763
24998392    4187
24998393    4321
Name: movieId, Length: 678648, dtype: int64

#### Only the movies that greater than 10% of the users who are similar to us liked

In [15]:
# similar_user_recs.value_counts() - counts up how many times each movie appears

similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
similar_user_recs

1         1.000000
318       0.367762
260       0.358285
296       0.299126
356       0.292240
            ...
4435      0.000074
188477    0.000074
179439    0.000074
179427    0.000074
97957     0.000074
Name: movieId, Length: 14179, dtype: float64

#### Only take the ones with grater than 10%

In [16]:
similar_user_recs = similar_user_recs[similar_user_recs > .1]
similar_user_recs

1        1.000000
318      0.367762
260      0.358285
296      0.299126
356      0.292240
           ...
1089     0.105064
590      0.104620
780      0.102991
78499    0.101436
750      0.100992
Name: movieId, Length: 64, dtype: float64

#### Finding how much all users like movies

In [17]:
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [18]:
all_users

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
72             2      110     5.0  1141416589
76             2      260     5.0  1141417172
79             2      318     5.0  1141417181
82             2      356     4.5  1141416637
...          ...      ...     ...         ...
25000018  162541     2858     5.0  1240950804
25000020  162541     2959     5.0  1240953488
25000057  162541     4993     5.0  1240952610
25000065  162541     5952     5.0  1240952617
25000078  162541     7153     5.0  1240952613

[1215933 rows x 4 columns]

#### All of the users who have watched movies that were recommended to us. What percentage of all users recommend each of these movies.

In [19]:
all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [20]:
all_users_recs

318      0.353117
296      0.293738
2571     0.251804
356      0.242757
593      0.233102
           ...
3114     0.055416
34       0.053892
1073     0.050318
1148     0.048979
78499    0.036249
Name: movieId, Length: 64, dtype: float64

#### Creating a recommendation score. Comparing the percentages.

In [21]:
rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

In [22]:
rec_percentages

        similar       all
1      1.000000  0.128700
318    0.367762  0.353117
260    0.358285  0.229282
296    0.299126  0.293738
356    0.292240  0.242757
...         ...       ...
1089   0.105064  0.103985
590    0.104620  0.072321
780    0.102991  0.055785
78499  0.101436  0.036249
750    0.100992  0.097856

[64 rows x 2 columns]

#### We want movies where those two numbers are big in difference

In [23]:
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [24]:
rec_percentages = rec_percentages.sort_values("score", ascending = False)

In [25]:
rec_percentages

        similar       all     score
1      1.000000  0.128700  7.770003
3114   0.236043  0.055416  4.259489
78499  0.101436  0.036249  2.798306
588    0.193988  0.069663  2.784672
595    0.170295  0.061887  2.751715
...         ...       ...       ...
2858   0.154376  0.172971  0.892494
7153   0.152303  0.178069  0.855303
4226   0.107286  0.136155  0.787968
58559  0.117577  0.151133  0.777973
2959   0.158596  0.223618  0.709229

[64 rows x 3 columns]

In [26]:
rec_percentages.head(10).merge(movies, left_index = True, right_on = "movieId")

,similar,all,score,movieId,title,genres,Clean-title
0,1.000000,0.128700,7.770003,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.236043,0.055416,4.259489,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
14813,0.101436,0.036249,2.798306,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
580,0.193988,0.069663,2.784672,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
587,0.170295,0.061887,2.751715,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
33,0.143418,0.053892,2.661202,34,Babe (1995),Children|Drama,Babe 1995
359,0.211832,0.088495,2.393727,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,Lion King The 1994
1047,0.119502,0.050318,2.374924,1073,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical,Willy Wonka the Chocolate Factory 1971
1120,0.110247,0.048979,2.250903,1148,Wallace & Gromit: The Wrong Trousers (1993),Animation|Children|Comedy|Crime,Wallace Gromit The Wrong Trousers 1993
898,0.132682,0.062843,2.111309,919,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical,Wizard of Oz The 1939

#### Building a recommendation function

In [27]:
def find_similar_movies(movie_id):
    # Finding recommendations from users similar to us
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    
    # Adjusting so we only have recommendations where over 10% of users
    # recommended that movie
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
    similar_user_recs = similar_user_recs[similar_user_recs > .1]
    
    # Finding how common the recommendations were among all of the users
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    
    # Creating score
    rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]
    
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    
    rec_percentages = rec_percentages.sort_values("score", ascending = False)
    return rec_percentages.head(10).merge(movies, left_index = True, right_on = "movieId")[["score", "title","genres"]]

#### Creating an interactive recommendation widget

In [28]:
movie_name_input = widgets.Text(
    value = "Toy Story",
    description = "Movie Title:",
    disabled = False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))
            
movie_name_input.observe(on_type, names = "value")

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()